/*-- scss:defaults --*/

// Colors
$periwinkle: #CCCCFF;
$dark-periwinkle: #3B4166;
$white: #FFFFFF;
$dark-grey: #313232;

// Base document colors
$navbar-bg: $dark-periwinkle; // navbar

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');